<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MultiClimact</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MultiClimact.styles.css " asp-append-version="true" />

    <style>
        /* Nascondi la barra di scorrimento verticale */
        body {
            overflow-y: hidden;
        }
    </style>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom fixed-top shadow-sm">
            <div class="container-fluid">
                <!-- Logo aziendale -->
                <div class="d-flex align-items-center">
                    <!-- Prima immagine di logo -->
                    <img src="~/images/logo_enea_40px.png" alt="Logo 1">
                    <!-- Spazio tra i loghi -->
                    <div style="width: 10px;"></div>
                    <!-- Seconda immagine di logo -->
                    <img src="~/images/logo_cipcast_40px.png" alt="Logo 2">
                    <!-- Spazio tra i loghi -->
                    <div style="width: 10px;"></div>
                    <!-- Terza immagine di logo -->
                    <img src="~/images/logo_eu_40px.png" alt="Logo 3">
                    <!-- Spazio tra i loghi -->
                    <div style="width: 10px;"></div>
                    <!-- Terza immagine di logo -->
                    <img src="~/images/logo_multiclimact_60px.png" alt="Logo 4">
                </div>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">

                        </li>
                    </ul>

                    <partial name="_LoginPartial" />

                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @Thread.CurrentThread.CurrentUICulture.Name
                            </a>
                            <ul class="dropdown-menu" aria-labelleby="navbarDropdown">
                                <li><a class="dropdown-item" href="/Lang?culture=En">En</a></li>
                                <li><a class="dropdown-item" href="/Lang?culture=It">It</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" >
            @RenderBody()
        </main>
    </div>

    <footer>
        <nav class="navbar navbar-expand-sm navbar-light bg-light border-top fixed-bottom text-center justify-content-center shadow-sm">
            <div class="container-fluid justify-content-center ">
                &copy; 2024 - MULTICLIMACT
            </div>
            
       </nav>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>