<div class="container-fluid" style="padding-left: 4px; padding-right: 4px;">
    <ul class="nav nav-tabs" id="myTab" role="tablist">

        <!-- TAB MENU B -->
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabB1-tab" data-bs-toggle="tab" data-bs-target="#tabB1" type="button" role="tab" aria-controls="tabB1" aria-selected="false">Wather forecasts</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabB2-tab" data-bs-toggle="tab" data-bs-target="#tabB2" type="button" role="tab" aria-controls="tabB2" aria-selected="false">Nowcasting</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabB3-tab" data-bs-toggle="tab" data-bs-target="#tabB3" type="button" role="tab" aria-controls="tabB3" aria-selected="false">Air Temperature forecasts</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabB4-tab" data-bs-toggle="tab" data-bs-target="#tabB4" type="button" role="tab" aria-controls="tabB4" aria-selected="false">Precipitation forecasts</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabB5-tab" data-bs-toggle="tab" data-bs-target="#tabB5" type="button" role="tab" aria-controls="tabB5" aria-selected="false">Hydrogeological data</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabB6-tab" data-bs-toggle="tab" data-bs-target="#tabB6" type="button" role="tab" aria-controls="tabB6" aria-selected="false">Landslide data</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabB7-tab" data-bs-toggle="tab" data-bs-target="#tabB7" type="button" role="tab" aria-controls="tabB7" aria-selected="false">Seismic buiding vulnerability</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabB8-tab" data-bs-toggle="tab" data-bs-target="#tabB8" type="button" role="tab" aria-controls="tabB8" aria-selected="false">Base maps</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabB9-tab" data-bs-toggle="tab" data-bs-target="#tabB9" type="button" role="tab" aria-controls="tabB9" aria-selected="false">Population distribution</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabB10-tab" data-bs-toggle="tab" data-bs-target="#tabB10" type="button" role="tab" aria-controls="tabB10" aria-selected="false">Demographic information</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabB11-tab" data-bs-toggle="tab" data-bs-target="#tabB11" type="button" role="tab" aria-controls="tabB11" aria-selected="false">Economic indicators</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabB12-tab" data-bs-toggle="tab" data-bs-target="#tabB12" type="button" role="tab" aria-controls="tabB12" aria-selected="false">National Infrastructures (DBSN)</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabB13-tab" data-bs-toggle="tab" data-bs-target="#tabB13" type="button" role="tab" aria-controls="tabB13" aria-selected="false">OpenStreetMap data</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabB14-tab" data-bs-toggle="tab" data-bs-target="#tabB14" type="button" role="tab" aria-controls="tabB14" aria-selected="false">Transport Networks</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabB15-tab" data-bs-toggle="tab" data-bs-target="#tabB15" type="button" role="tab" aria-controls="tabB15" aria-selected="false">Electrical Grids</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabB16-tab" data-bs-toggle="tab" data-bs-target="#tabB16" type="button" role="tab" aria-controls="tabB16" aria-selected="false">Water Supply Systems</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabB17-tab" data-bs-toggle="tab" data-bs-target="#tabB17" type="button" role="tab" aria-controls="tabB17" aria-selected="false">Real-time video feeds</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabB18-tab" data-bs-toggle="tab" data-bs-target="#tabB18" type="button" role="tab" aria-controls="tabB18" aria-selected="false">UAS settings</button>
        </li>

        <!-- TAB MENU C -->
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabC1-tab" data-bs-toggle="tab" data-bs-target="#tabC1" type="button" role="tab" aria-controls="tabC1" aria-selected="false">Latest Earthquakes</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabC2-tab" data-bs-toggle="tab" data-bs-target="#tabC2" type="button" role="tab" aria-controls="tabC2" aria-selected="false">Building Damage Risk</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabC3-tab" data-bs-toggle="tab" data-bs-target="#tabC3" type="button" role="tab" aria-controls="tabC3" aria-selected="false">Infrastructure Damage Risks</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabC4-tab" data-bs-toggle="tab" data-bs-target="#tabC4" type="button" role="tab" aria-controls="tabC4" aria-selected="false">Infrastructure Impact Risk</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabC5-tab" data-bs-toggle="tab" data-bs-target="#tabC5" type="button" role="tab" aria-controls="tabC5" aria-selected="false">Infrastructures and Buildings Damage Risk</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabC6-tab" data-bs-toggle="tab" data-bs-target="#tabC6" type="button" role="tab" aria-controls="tabC6" aria-selected="false">Infrastructure Impact Risk</button>
        </li>
        <!---
        Commento dopo modifica del file Excel ora accorpati in tab C5 e C6.
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabC7-tab" data-bs-toggle="tab" data-bs-target="#tabC7" type="button" role="tab" aria-controls="tabC7" aria-selected="false">Infrastructure Damage Risk</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabC8-tab" data-bs-toggle="tab" data-bs-target="#tabC8" type="button" role="tab" aria-controls="tabC8" aria-selected="false">Infrastructure Impact Risk</button>
        </li>
        --->
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabC9-tab" data-bs-toggle="tab" data-bs-target="#tabC9" type="button" role="tab" aria-controls="tabC9" aria-selected="false">Latest Temperatures</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabC10-tab" data-bs-toggle="tab" data-bs-target="#tabC10" type="button" role="tab" aria-controls="tabC10" aria-selected="false">Infrastructure Damage Risk</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabC11-tab" data-bs-toggle="tab" data-bs-target="#tabC11" type="button" role="tab" aria-controls="tabC11" aria-selected="false">Infrastructure Impact Risk</button>
        </li>
         

        <!-- TAB MENU D -->
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabD1-tab" data-bs-toggle="tab" data-bs-target="#tabD1" type="button" role="tab" aria-controls="tabD1" aria-selected="false">Simulate Earthquakes</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabD2-tab" data-bs-toggle="tab" data-bs-target="#tabD2" type="button" role="tab" aria-controls="tabD2" aria-selected="false">Building Damage Risk</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabD3-tab" data-bs-toggle="tab" data-bs-target="#tabD3" type="button" role="tab" aria-controls="tabD3" aria-selected="false">Infrastructure Damage Risk</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabD4-tab" data-bs-toggle="tab" data-bs-target="#tabD4" type="button" role="tab" aria-controls="tabD4" aria-selected="false">Infrastructure Impact Risk</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabD5-tab" data-bs-toggle="tab" data-bs-target="#tabD5" type="button" role="tab" aria-controls="tabD5" aria-selected="false">Long-term Precipitation Scenarios</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabD6-tab" data-bs-toggle="tab" data-bs-target="#tabD6" type="button" role="tab" aria-controls="tabD6" aria-selected="false">Building Damage Risk</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabD7-tab" data-bs-toggle="tab" data-bs-target="#tabD7" type="button" role="tab" aria-controls="tabD7" aria-selected="false">Infrastructure Damage Risk</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabD8-tab" data-bs-toggle="tab" data-bs-target="#tabD8" type="button" role="tab" aria-controls="tabD8" aria-selected="false">Infrastructure Impact Risk</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabD9-tab" data-bs-toggle="tab" data-bs-target="#tabD9" type="button" role="tab" aria-controls="tabD9" aria-selected="false">Long-term Heat Wave Scenarios</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabD10-tab" data-bs-toggle="tab" data-bs-target="#tabD10" type="button" role="tab" aria-controls="tabD10" aria-selected="false">Infrastructure Damage Risk</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabD11-tab" data-bs-toggle="tab" data-bs-target="#tabD11" type="button" role="tab" aria-controls="tabD11" aria-selected="false">Infrastructure Impact Risk</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabD12-tab" data-bs-toggle="tab" data-bs-target="#tabD12" type="button" role="tab" aria-controls="tabD12" aria-selected="false">Create Failure scenario</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tabD13-tab" data-bs-toggle="tab" data-bs-target="#tabD13" type="button" role="tab" aria-controls="tabD13" aria-selected="false">Infrastructure Impact Risk</button>
        </li>

    </ul>
</div>