    <!-- TAB PANELS GROUP MENU B -->
<div class="tab-pane fade" id="panelB1" role="tabpanel" aria-labelledby="tabB1-tab">
    <div id="mapB1" class="map-container"></div>
</div>
<div class="tab-pane fade" id="panelB2" role="tabpanel" aria-labelledby="tabB2-tab">
    <div id="mapB2" class="map-container"></div>
</div>
<div class="tab-pane fade" id="panelB3" role="tabpanel" aria-labelledby="tabB3-tab">
    <div id="mapB3" class="map-container"></div>
</div>
<div class="tab-pane fade" id="panelB4" role="tabpanel" aria-labelledby="tabB4-tab">
    <div id="mapB4" class="map-container"></div>
</div>
<div class="tab-pane fade" id="panelB5" role="tabpanel" aria-labelledby="tabB5-tab">
    <div id="mapB5" class="map-container"></div>
</div>
<div class="tab-pane fade" id="panelB6" role="tabpanel" aria-labelledby="tabB6-tab">
    <div id="mapB6" class="map-container"></div>
</div>
<div class="tab-pane fade" id="panelB7" role="tabpanel" aria-labelledby="tabB7-tab">
    <div id="mapB7" class="map-container"></div>
</div>
<div class="tab-pane fade" id="panelB8" role="tabpanel" aria-labelledby="tabB8-tab">
    <div id="mapB8" class="map-container"></div>
</div>
<div class="tab-pane fade" id="panelB9" role="tabpanel" aria-labelledby="tabB9-tab">
    <div id="mapB9" class="map-container"></div>
</div>
<div class="tab-pane fade" id="panelB10" role="tabpanel" aria-labelledby="tabB10-tab">
    <div id="mapB10" class="map-container"></div>
</div>
<div class="tab-pane fade" id="panelB11" role="tabpanel" aria-labelledby="tabB11-tab">
    <div id="mapB11" class="map-container"></div>
</div>
<div class="tab-pane fade" id="panelB12" role="tabpanel" aria-labelledby="tabB12-tab">
    <div id="mapB12" class="map-container"></div>
</div>
<div class="tab-pane fade" id="panelB13" role="tabpanel" aria-labelledby="tabB13-tab">
    <div id="mapB13" class="map-container"></div>
</div>
<div class="tab-pane fade" id="panelB14" role="tabpanel" aria-labelledby="tabB14-tab">
    <div id="mapB14" class="map-container"></div>
</div>
<div class="tab-pane fade" id="panelB15" role="tabpanel" aria-labelledby="tabB15-tab">
    <div id="mapB15" class="map-container"></div>
</div>
<div class="tab-pane fade" id="panelB16" role="tabpanel" aria-labelledby="tabB16-tab">
    <div id="mapB16" class="map-container"></div>
</div>
<div class="tab-pane fade" id="panelB17" role="tabpanel" aria-labelledby="tabB17-tab">
    <div id="mapB17" class="map-container"></div>
</div>
<div class="tab-pane fade" id="panelB18" role="tabpanel" aria-labelledby="tabB18-tab">
    <div id="mapB18" class="map-container"></div>
</div>