    <!-- TAB PANELS GROUP MENU D -->
<div class="tab-pane fade" id="panelD1" role="tabpanel" aria-labelledby="tabD1-tab">
    <div id="mapD1" class="map-container"></div>
</div>
<div class="tab-pane fade" id="panelD2" role="tabpanel" aria-labelledby="tabD2-tab">
    <div id="mapD2" class="map-container"></div>
</div>
<div class="tab-pane fade" id="panelD3" role="tabpanel" aria-labelledby="tabD3-tab">
    <div id="mapD3" class="map-container"></div>
</div>
<div class="tab-pane fade" id="panelD4" role="tabpanel" aria-labelledby="tabD4-tab">
    <div id="mapD4" class="map-container"></div>
</div>
<div class="tab-pane fade" id="panelD5" role="tabpanel" aria-labelledby="tabD5-tab">
    <div id="mapD5" class="map-container"></div>
</div>
<div class="tab-pane fade" id="panelD6" role="tabpanel" aria-labelledby="tabD6-tab">
    <div id="mapD6" class="map-container"></div>
</div>
<div class="tab-pane fade" id="panelD7" role="tabpanel" aria-labelledby="tabD7-tab">
    <div id="mapD7" class="map-container"></div>
</div>
<div class="tab-pane fade" id="panelD8" role="tabpanel" aria-labelledby="tabD8-tab">
    <div id="mapD8" class="map-container"></div>
</div>
<div class="tab-pane fade" id="panelD9" role="tabpanel" aria-labelledby="tabD9-tab">
    <div id="mapD9" class="map-container"></div>
</div>
<div class="tab-pane fade" id="panelD10" role="tabpanel" aria-labelledby="tabD10-tab">
    <div id="mapD10" class="map-container"></div>
</div>
<div class="tab-pane fade" id="panelD11" role="tabpanel" aria-labelledby="tabD11-tab">
    <div id="mapD11" class="map-container"></div>
</div>
<div class="tab-pane fade" id="panelD12" role="tabpanel" aria-labelledby="tabD12-tab">
    <div id="mapD12" class="map-container"></div>
</div>
<div class="tab-pane fade" id="panelD13" role="tabpanel" aria-labelledby="tabD13-tab">
    <div id="mapD13" class="map-container"></div>
</div>