@page
@model RegisterModel
@{
}

<h1>@ViewData["Title"]</h1>

<div class="row justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-sm-4">
        <!-- Spazio vuoto a sinistra -->
    </div>

    <div class="col-sm-4">
        <section class="bg-light p-4 rounded shadow">
            <div><img src="~/images/MULTICLIMACT-Powerpoint-Template.jpg" class="img-fluid" alt="Responsive image"></div>
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
            </form>
    </section>
    </div>
    <div class="col-sm-4">
        <!-- Spazio vuoto a destra -->
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
