@page
@model IndexModel
@{
    ViewData["Title"] = Localizer["title"];
    List<string> Maps = new List<string> { "OpenStreetMap - EPSG:3857", "Google Normal - EPSG:3857", "Google Satellite - EPSG:3857", "Google Hybrid - EPSG:3857", "OpenTopoMap", "Sentinel-2 cloudless", "Metacarta - EPSG:4326", "geoSdi - EPSG:4326", "geoSdi No Map - EPSG:4326" };
}

@if (!(User.Identity is null) && !User.Identity.IsAuthenticated)
{
    Response.Redirect("Identity/Account/Login");
}
else
{
    <!DOCTYPE html>
    <html>
    <head>
        <title>OpenLayers Map</title>
        <link rel="stylesheet" href="~/lib/openlayers/ol.css" type="text/css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/openlayers/dist/ol.js"></script>

    </head>
    <body>
        <!-- Spazio tra il menù del Layout e il menù della pagina-->
        <div id="space" style="width: 100%; height: 10vh;"></div>

        <!-- Mappa -->
        <div id="map" style="width: 100%; height: 100vh; cursor: pointer; overflow: hidden; display: block;"></div>

        <!-- Barra di ricerca indirizzi -->
        <div class="search-bar">
            <div class="input-group">
                <input id="addressInput" placeholder="Cerca un indirizzo" type="text" class="form-control" style="text-overflow: ellipsis;">
            </div>
            <div id="suggestions" class="list-group mt-1" style="display: none;"></div>
        </div>

        <!-- Coordinate del mouse -->
        <div id="mouseCoordinates"></div>

        <script type="text/javascript">

            $(document).ready(function () {
                initMap();
                var lastInputTime = 0;
                var delay = 3000; // Delay di 3 secondi

                // Funzione per cercare gli indirizzi e visualizzare i suggerimenti
                $('#addressInput').on('input', function () {
                    var currentTime = new Date().getTime();
                    if (currentTime - lastInputTime > delay) {
                        lastInputTime = currentTime;
                        var address = $(this).val();

                        var url = 'https://nominatim.openstreetmap.org/search?q=' + address + '&format=json&addressdetails=1&limit=5';

                        $.getJSON(url, function (data) {
                            $('#suggestions').empty();
                            if (data && data.length > 0) {
                                $('#suggestions').show();
                                $.each(data, function (i, item) {
                                    $('#suggestions').append('<a href="#" class="list-group-item list-group-item-action" data-lon="' + item.lon + '" data-lat="' + item.lat + '">' + item.display_name + '</a>');
                                });
                            } else {
                                $('#suggestions').hide();
                            }
                        });
                    }
                });

                // Funzione per zoomare sulla posizione selezionata dall'utente
                $('#suggestions').on('click', 'a', function (e) {
                    e.preventDefault();
                    var lon = parseFloat($(this).data('lon'));
                    var lat = parseFloat($(this).data('lat'));
                    map.getView().setCenter(ol.proj.fromLonLat([lon, lat]));
                    map.getView().setZoom(15);
                    $('#suggestions').hide();
                });
            });

        </script>

    </body>
    </html>
}