@page
@model Index1Model
@{
    ViewData["Title"] = Localizer["title"];
    List<string> Maps = new List<string> { "OpenStreetMap - EPSG:3857", "Google Normal - EPSG:3857", "Google Satellite - EPSG:3857", "Google Hybrid - EPSG:3857", "OpenTopoMap", "Sentinel-2 cloudless", "Metacarta - EPSG:4326", "geoSdi - EPSG:4326", "geoSdi No Map - EPSG:4326" };
}

@if (!(User.Identity is null) && !User.Identity.IsAuthenticated)
{
    Response.Redirect("Identity/Account/Login");
}
else
{
    <!DOCTYPE html>
    <html>
    <head>
        <title>OpenLayers Map</title>
        <link rel="stylesheet" href="~/lib/openlayers/ol.css" type="text/css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/openlayers/dist/ol.js"></script>

    </head>
    <body>
        <!-- Spazio tra il menù del Layout e il menù della pagina-->
        <div id="space" style="width: 100%; height: 10vh;"></div>

        <!-- Menù della pagina-->
        <nav class="navbar navbar-expand-sm navbar-dark" style=" background-color: #185ba1;">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Natural Events</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" onclick="updateBreadcrumb('Natural Events', 'Earthquakes')">Earthquakes</a></li>
                            <li><a class="dropdown-item" href="#" onclick="updateBreadcrumb('Natural Events', 'Heat Waves')">Heat Waves</a></li>
                            <li><a class="dropdown-item" href="#" onclick="updateBreadcrumb('Natural Events', 'Precipitations')">Precipitations</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Risk Analysis</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" onclick="updateTabs('Damages'); updateBreadcrumb('Risk Analysis', 'Damages')">Damages</a></li>
                            <li><a class="dropdown-item" href="#" onclick="updateTabs('Resilience'); updateBreadcrumb('Risk Analysis', 'Resilience')">Resilience</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Simulation</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item">Earthquake</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">UAS</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item">Video from UAS</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Settings</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Maps</a>
                        <ul class="dropdown-menu">
                            @foreach (var mappa in Maps)
                            {
                                <li><a class="dropdown-item" href="#" onclick="changeMap('@mappa.Trim()')">@mappa.Trim()</a></li>
                            }
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" id="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                @* <li class="breadcrumb-item active" aria-current="page">Natural Events</li> *@
            </ol>
        </nav>

        <!-- Nav-tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="buildings-tab" data-bs-toggle="tab" data-bs-target="#buildings" type="button" role="tab" aria-controls="buildings" aria-selected="false">Buildings</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="infrastructures-tab" data-bs-toggle="tab" data-bs-target="#infrastructures" type="button" role="tab" aria-controls="infrastructures" aria-selected="false">Critical Infrastructures</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="social-tab" data-bs-toggle="tab" data-bs-target="#social" type="button" role="tab" aria-controls="social" aria-selected="false">Social Resilience</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="economic-tab" data-bs-toggle="tab" data-bs-target="#economic" type="button" role="tab" aria-controls="economic" aria-selected="false">Economic Resilience</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="operational-tab" data-bs-toggle="tab" data-bs-target="#operational" type="button" role="tab" aria-controls="operational" aria-selected="false">Operational Resilience</button>
            </li>
        </ul>

        <!-- Tab content -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="buildings" role="tabpanel" aria-labelledby="buildings-tab">
                <!-- Content for Buildings tab -->
                <p>Content related to Buildings</p>
            </div>
            <div class="tab-pane fade" id="infrastructures" role="tabpanel" aria-labelledby="infrastructures-tab">
                <!-- Content for Critical Infrastructures tab -->
                <p>Content related to Critical Infrastructures</p>
            </div>
            <div class="tab-pane fade" id="social" role="tabpanel" aria-labelledby="social-tab">
                <!-- Content for Social Resilience tab -->
                <p>Content related to Social Resilience</p>
            </div>
            <div class="tab-pane fade" id="economic" role="tabpanel" aria-labelledby="economic-tab">
                <!-- Content for Economic Resilience tab -->
                <p>Content related to Economic Resilience</p>
            </div>
            <div class="tab-pane fade" id="operational" role="tabpanel" aria-labelledby="operational-tab">
                <!-- Content for Operational Resilience tab -->
                <p>Content related to Operational Resilience</p>
            </div>
        </div>

        <!-- Mappa -->
        <div id="map" style="width: 100%; height: 100vh; cursor: pointer; overflow: hidden; display: block;"></div>

        <!-- Barra di ricerca indirizzi -->
        <div class="search-bar">
            <div class="input-group">
                <input id="addressInput" placeholder="Cerca un indirizzo" type="text" class="form-control" style="text-overflow: ellipsis;">
            </div>
            <div id="suggestions" class="list-group mt-1" style="display: none;"></div>
        </div>

        <!-- Coordinate del mouse -->
        <div id="mouseCoordinates"></div>

        <script type="text/javascript">
            $(document).ready(function () {
                initMap();
            });

            function showTab(tabId) {
                $('#myTab a[href="#' + tabId + '"]').tab('show');
            }

            // Function to update breadcrumb and show corresponding tabs
            function updateBreadcrumb(section, subSection) {
                $('#breadcrumb').html('<li class="breadcrumb-item"><a href="#">Home</a></li><li class="breadcrumb-item"><a href="#">' + section + '</a></li><li class="breadcrumb-item active" aria-current="page">' + subSection + '</li>');

                // Show corresponding tabs based on the selected subsection
                if (section === 'Risk Analysis') {
                    $('#myTab a[href="#' + subSection.toLowerCase() + '"]').tab('show');
                }
            }

            // Function to update tabs based on selected dropdown item
            function updateTabs(selectedItem) {
                // Hide all tabs
                $('#myTabContent').children('.tab-pane').removeClass('show active');
                $('#myTabContent').children('.tab-pane').addClass('fade');
               
                // Show corresponding tabs based on selected dropdown item
                if (selectedItem === 'Damages') {
                    $('#buildings-tab').removeClass('visually-hidden');
                    $('#buildings-tab').addClass('show active');
                    $('#infrastructures-tab').removeClass('visually-hidden');
                    // $('#infrastructures-tab').addClass('show active');
                    
                    $('#social-tab').removeClass('show active');
                    $('#social-tab').addClass('visually-hidden');
                    $('#economic-tab').removeClass('show active');
                    $('#economic-tab').addClass('visually-hidden');
                    $('#operational-tab').removeClass('show active');
                    $('#operational-tab').addClass('visually-hidden');

                } else if (selectedItem === 'Resilience') {
                    $('#buildings-tab').removeClass('show active');
                    $('#buildings-tab').addClass('visually-hidden');
                    $('#infrastructures-tab').removeClass('show active');
                    $('#infrastructures-tab').addClass('visually-hidden');

                    $('#social-tab').removeClass('visually-hidden');
                    $('#social-tab').addClass('show active');
                    $('#economic-tab').removeClass('visually-hidden');
                    // $('#economic-tab').addClass('show active');
                    $('#operational-tab').removeClass('visually-hidden');
                    // $('#operational-tab').addClass('show active');
                }
            }
        </script>

    </body>
    </html>
}
