@page
@model IndexModel
@{
    ViewData["Title"] = Localizer["title"];
}

@if (!User.Identity.IsAuthenticated)
{
    Response.Redirect("Identity/Account/Login");
}
else
{

    @*  <!DOCTYPE html>
    <html>
    <head>
        <title>OpenLayers Map</title>
        <link rel="stylesheet" href="~/lib/openlayers/ol.css" type="text/css">
        <script src="~/lib/openlayers/ol.js"></script>
    </head>
    <body>
        <div id="map" style="width: 100%; height: 400px;"></div>

        <div>
            <label for="fileInput">Seleziona un file GeoJSON:</label>
            <input type="file" id="fileInput" name="fileInput" accept=".geojson">
            <button onclick="loadGeoJSON()">Carica GeoJSON</button>
        </div>

        <script type="text/javascript">
            var vectorSource = new ol.source.Vector();

            var vectorLayer = new ol.layer.Vector({
                source: vectorSource
            });

            var map = new ol.Map({
                target: 'map',
                layers: [
                    new ol.layer.Tile({
                        source: new ol.source.OSM()
                    }),
                    vectorLayer
                ],
                view: new ol.View({
                    center: ol.proj.fromLonLat([0, 0]),
                    zoom: 2
                })
            });

            var select = new ol.interaction.Select();
            map.addInteraction(select);

            var popup = new ol.Overlay.Popup();
            map.addOverlay(popup);

            function loadGeoJSON() {
                var fileInput = document.getElementById('fileInput');
                var file = fileInput.files[0];

                if (file) {
                    var reader = new FileReader();
                    reader.onload = function (event) {
                        var geojsonObject = JSON.parse(event.target.result);
                        var features = new ol.format.GeoJSON().readFeatures(geojsonObject);
                        vectorSource.clear();
                        vectorSource.addFeatures(features);
                    };
                    reader.readAsText(file);
                }
            }

            map.on('singleclick', function (event) {
                var feature = map.forEachFeatureAtPixel(event.pixel, function (feature) {
                    return feature;
                });

                if (feature) {
                    var geometry = feature.getGeometry();
                    var coord = geometry.getCoordinates();
                    popup.show(coord, '<div><h2>' + feature.get('name') + '</h2><p>' + feature.get('description') + '</p></div>');
                } else {
                    popup.hide();
                }
            });
        </script>
    </body>
    </html> *@


    @* <!DOCTYPE html>
    <html>
    <head>
        <title>OpenLayers Map</title>
        <link rel="stylesheet" href="~/lib/openlayers/ol.css" type="text/css">
        <script src="~/lib/openlayers/ol.js"></script>
    </head>
    <body>
        <div id="map" style="width: 100%; height: 400px;"></div>

        <script type="text/javascript">
            var map = new ol.Map({
                target: 'map',
                layers: [
                    new ol.layer.Tile({
                        source: new ol.source.OSM()
                    }),
                    new ol.layer.Tile({
                        source: new ol.source.TileWMS({
                            url: 'https://ahocevar.com/geoserver/wms',
                            params: { 'LAYERS': 'topp:states', 'TILED': true },
                            serverType: 'geoserver' // Specifica il tipo di server WMS, ad esempio 'geoserver', 'mapserver', ecc.
                        })
                    })
                ],
                view: new ol.View({
                    center: ol.proj.fromLonLat([0, 0]),
                    zoom: 2
                })
            });
        </script>
    </body>
    </html> *@

    <!DOCTYPE html>
    <html>
    <head>
        <title>OpenLayers Map</title>
        <link rel="stylesheet" href="~/lib/openlayers/ol.css" type="text/css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/openlayers/dist/ol.js"></script>
    </head>
    <body>
        <!-- Mappa -->
        <div id="space" style="width: 100%; height: 10vh;"></div>
        <div id="map" style="width: 100%; height: 100vh; cursor: pointer; overflow: hidden; display: block;"></div>

        <!-- Elemento di ricerca degli indirizzi -->
        <div class="container position-absolute top-0 " style="margin-top:105px; margin-left:50px; width: 20%;">
            <div class="input-group">
                <input id="addressInput" placeholder="Cerca un indirizzo" type="text" class="form-control" style="text-overflow: ellipsis;">
            </div>
            <div id="suggestions" class="list-group mt-1" style="display: none;"></div>
        </div>

        <script type="text/javascript">
            var map = new ol.Map({
                target: 'map',
                layers: [
                    new ol.layer.Tile({
                        source: new ol.source.OSM()
                    })
                ],
                view: new ol.View({
                    center: ol.proj.fromLonLat([0, 0]),
                    zoom: 2
                })
            });

            // Funzione per cercare gli indirizzi e visualizzare i suggerimenti
            $('#addressInput').on('input', function () {
                var address = $(this).val();
                var url = 'https://nominatim.openstreetmap.org/search?q=' + address + '&format=json&addressdetails=1&limit=5';

                $.getJSON(url, function (data) {
                    $('#suggestions').empty();
                    if (data && data.length > 0) {
                        $('#suggestions').show();
                        $.each(data, function (i, item) {
                            $('#suggestions').append('<a href="#" class="list-group-item list-group-item-action">' + item.display_name + '</a>');
                        });
                    } else {
                        $('#suggestions').hide();
                    }
                });
            });

            // Funzione per zoomare sulla posizione selezionata dall'utente
            $('#suggestions').on('click', 'a', function (e) {
                e.preventDefault();
                var address = $(this).text();
                var url = 'https://nominatim.openstreetmap.org/search?q=' + address + '&format=json&addressdetails=1&limit=1';

                $.getJSON(url, function (data) {
                    if (data && data.length > 0) {
                        var lon = parseFloat(data[0].lon);
                        var lat = parseFloat(data[0].lat);
                        map.getView().setCenter(ol.proj.fromLonLat([lon, lat]));
                        map.getView().setZoom(15);
                        $('#suggestions').hide();
                    }
                });
            });

            // Funzione per pulire l'input di ricerca
            $('#clearSearch').click(function () {
                $('#addressInput').val('');
                $('#suggestions').empty().hide();
            });
        </script>
    </body>
    </html>


}
