@page
@model MultiClimact.Pages.MappaModel

@{
    ViewData["Title"] = "OpenLayers Map";
}

<!DOCTYPE html>
<html>
<head>
    <title>OpenLayers Map</title>
    <link rel="stylesheet" href="~/lib/openlayers/ol.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/openlayers/dist/ol.js"></script>
</head>
<body>

    <!-- Spazio tra il menù del Layout e il menù della pagina-->
    <div id="space" style="width: 100%; height: 10vh;"></div>

    <!-- Menù della pagina-->
    <nav class="navbar navbar-expand-sm navbar-dark" style=" background-color: #185ba1;">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Mappa -->
    <div id="map" style="width: 100%; height: 100vh; cursor: pointer; overflow: hidden; display: block;"></div>

    <!-- Barra di ricerca indirizzi -->
    <div class="search-bar">
        <div class="input-group">
            <input id="addressInput" placeholder="Cerca un indirizzo" type="text" class="form-control" style="text-overflow: ellipsis;">
        </div>
        <div id="suggestions" class="list-group mt-1" style="display: none;"></div>
    </div>

    <script type="text/javascript">
        var map;

        function initMap() {
            map = new ol.Map({
                target: 'map',
                layers: [
                    new ol.layer.Tile({
                        source: new ol.source.OSM()
                    }),
                ],
                view: new ol.View({
                    center: ol.proj.fromLonLat([13.1996, 43.1167]), // Longitudine e latitudine approssimative delle Marche
                    zoom: 9 // Livello di zoom iniziale
                })
            });


        }

        // Funzione per gestire la selezione della mappa quando si fa clic su una delle voci del menu a discesa
        $('.dropdown-item').on('click', function () {
            $('.dropdown-menu').removeClass('show');
        });

        $(document).ready(function () {
            initMap();
        });

        // Funzione per cercare gli indirizzi e visualizzare i suggerimenti
        $('#addressInput').on('input', function () {
            var address = $(this).val();
            setTimeout(function () {
                var url = 'https://nominatim.openstreetmap.org/search?q=' + address + '&format=json&addressdetails=1&limit=5';

                $.getJSON(url, function (data) {
                    $('#suggestions').empty();
                    if (data && data.length > 0) {
                        $('#suggestions').show();
                        $.each(data, function (i, item) {
                            $('#suggestions').append('
                                < a href = "#" class= "list-group-item list-group-item-action" > ' + item.display_name + ' < /a>');
                    });
                    } else {
                        $('#suggestions').hide();
                    }
                });
            }, 2000); // 2000 milliseconds delay
        });

        // Funzione per zoomare sulla posizione selezionata dall'utente
        $('#suggestions').on('click', 'a', function (e) {
            e.preventDefault();
            var address = $(this).text();
            var url = 'https://nominatim.openstreetmap.org/search?q=' + address + '&format=json&addressdetails=1&limit=1';

            $.getJSON(url, function (data) {
                if (data && data.length > 0) {
                    var lon = parseFloat(data[0].lon);
                    var lat = parseFloat(data[0].lat);
                    map.getView().setCenter(ol.proj.fromLonLat([lon, lat]));
                    map.getView().setZoom(15);
                    $('#suggestions').hide();
                }
            });
        });
    </script>
</body>
</html>