@page
@model MultiClimact.Pages.ProvaJavascript2Model
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <script src="~/js/script.js"></script>
    <script src="~/lib/openlayers/ol.js"></script>
  
</head>
<body>

    <h1>Hello, world!</h1>

    <button onclick="sayHello()">Clicca qui</button>

</body>
</html>