@page
@model MultiClimact.Pages.ProvaJavascriptModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <script type="text/javascript">
        function sayHello() {
            alert("Hello, world!");
        }
    </script>
</head>
<body>

    <h1>Hello, world!</h1>

    <button onclick="sayHello()">Clicca qui</button>

</body>
</html>